@keyframes backcolorchange{
    0%{background-color:#00000000;}
    50%{background-color:lime;}
    100%{background-color:#00000000;}
}
.backcolorchange{
    animation-name:backcolorchange;
    animation-duration:1s;
}
